.auth-container {
  height: 100vh;
  background-color: #ffffff;
}

.auth-image {
  background: url("/src/images/login-signup.png") no-repeat center center;
  background-size: cover;
}

.auth-form {
  width: 100%;
  max-width: 400px;
  
}

.auth-title {
  color: #2e2e2e;
}

.role-toggle {
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.role-active {
  background-color: #3cb371;
  color: #fff;
  border: 1px solid #3cb371;
  font-weight: 500;
}

.role-inactive {
  background-color: #fff;
  color: #2e2e2e;
  border: 1px solid #ccc;
  font-weight: 500;
}


.input-label {
  color: #2e2e2e;
  font-weight: 500;
}

.input-field {
  border-radius: 6px;
  border: 1px solid #ccc;
}

.primary-btn {
  background-color: #3cb371;
  color: #fff;
  font-weight: 500;
  border: none;
}

.primary-btn:hover {
  background-color: #35a368;
}
