.comment-header-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 630px;
  margin: 60px auto 5px;
  padding-left: 10px;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  background: none;
  border: none;
  color: #1e1e1e;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease;
  margin-top: -26px; 
  margin-left: -110px;
}

.comments-section {
  margin-top: 10px;
  padding-bottom: 50px;
  max-width: 630px;
  margin-inline: auto;
}

.add-comment-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  max-width: 640px;
  margin: 20px auto;
}

.comment-input {
  flex: 1;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #2e2e2e;
  background: #e8e8e8;
  border: none;
  border-radius: 6px;
  padding: 12px 14px;
  outline: none;
  height: 45px;
  box-sizing: border-box;
  overflow: hidden;
}

.send-btn {
  background: #198754;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  padding: 0 18px;
  height: 45px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.send-btn:hover {
  background: #157347; 
}

/* ====== Modal ====== */
.modal-overlay {
  position: fixed;
  inset: 0; 
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: #fff;
  padding: 22px 26px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 360px;
  width: 90%;
}

.modal-box p {
  font-size: 15px;
  color: #333;
  margin-bottom: 18px;
  font-family: "Roboto", sans-serif;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn-cancel,
.btn-delete {
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.btn-cancel {
  background: #e0e0e0;
  color: #333;
}

.btn-delete {
  background: #d9534f;
  color: white;
}

.btn-cancel:hover {
  background: #d6d6d6;
}

.btn-delete:hover {
  background: #b52b27;
}
