.page-wrapper {
  width: 100%;
  /* inner spacing */
  flex: 1; /* allows flexible height for footer placement */
}

.nav-link {
  font-family: "IBM Plex Sans", sans-serif !important;
}

.hero {
  background-image: url(/images/bg.png);
  background-repeat: no-repeat;
  padding: 70px 0;
}
.btn_success{
  background-color: #198754;
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  transition: all 0.3;
}
.btn_success:hover{
  background-color: #0e4d30;
  transition: all 0.3;
  color: #fff !important;
}
.btn_outline_success{
  border: 1px solid #198754 !important;
  color: #198754;
  font-family: "IBM Plex Sans", sans-serif;
  transition: all 0.3;
}

.btn_outline_success:hover{
  color: #0e4d30;
  background-color: #f2f2f2;
  transition: all 0.3;
}

.head-hero {
  font-size: 56px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #2e2e2e;
}
.p-hero {
  font-size: 21px;
  color: #474646;
}

.pt-sec {
  background-color: #1a1e28;
  padding: 40px 0;
}

.nav-shadow {
  background-color: #fff;
  box-shadow: rgba(33, 35, 38, 0.1) -10px 2px 10px 2px;
}
.hero-img {
  display: flex;
  align-items: center;
  justify-content: end;
}
.actoin-row {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.p-button {
  background-color: #198754;
  padding: 10px 40px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  transition: all 0.3s;
}
.p-button:hover {
  background-color: #146c43;
  transition: all 0.3s;
}
.s-button {
  background-color: #fff;
  border: 1px solid #198754;
  padding: 10px 40px;
  border-radius: 4px;
  color: #198754;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  transition: all 0.3s;
}
.s-button:hover {
  background-color: #eeeeee;
  transition: all 0.3s;
}
a.p-button,
a.s-button {
  text-decoration: none;
}

.hero-stats {
  display: flex;
  align-items: center;
  justify-content: start;
}
.stats-item {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  padding: 0 20px;
  border-left: 2px solid #146c43;
  gap: 12px;
}
.stats-title {
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  color: #474646;
}
.stats-cap {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #474646;
}
.sec-chip {
  font-size: 18px;
}
.sec-title {
  font-size: 32px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}
.light-text {
  color: #fff;
}
.partners-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.sec-dev {
  padding: 40px 0;
}
.subTitel {
  font-size: 28px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  color: #474646;
}

.service-bg {
  width: 100%;
  height: 610px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.test-sec {
  background-color: #1a1e28;
  padding: 40px 0;
}

.testimonial-card {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
}
.quote-sym {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}
.card-title {
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}
.card-content {
  text-align: start;
  color: #474646;
}
.card-inner {
  color: #474646;
  opacity: 0.8;
}

.card-author {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.user-name {
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}
.user-city {
  font-size: 12px;
  font-family: "IBM Plex Sans", sans-serif;
  text-align: start;
  color: #474646;
  opacity: 0.8;
  font-family: "IBM Plex Sans", sans-serif;
}
footer {
  background-color: #1a1e28;
  padding: 10px 0;
  color: #fff;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}



@media (max-width: 991px) {
  .hero {
    background-position: center center;
  }
}
@media (max-width: 767px) {
  .hero {
    padding: 20px 0 80px;
  }
  .head-hero {
    font-size: 42px;
  }
  .p-hero {
    font-size: 16px;
  }
  .service-bg {
    height: 310px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
  }
}
