/* 
        PostCard Component
*/

.post-card {
  width: 100%;
  max-width: 629px;
  margin: 16px auto;
  background-color: #F6F6F6;
  border: 1px solid #c9c9c9;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}


.post-card__header {
  display: flex;
  gap: 12px;
  padding: 16px 18px 0;
}

.donation-card__avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation-avatar-icon {
  font-size: 24px;
  pointer-events: none; 
}


.post-card__name {
  font-size: 14px;
  font-weight: 600;
  color: #2e2e2e;
  margin-bottom: 2px;
}

.post-card__illness {
  font-size: 12px;
  color: #9e9e9e;
}


.post-card__content {
  padding: 8px 18px 14px;
  font-size: 14px;
  color: #2e2e2e;
  line-height: 1.5;
  margin: 6px 0 0 48px; 
  white-space: pre-wrap;
}


.post-card__actions {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  align-items: center;
  border-top: 1px solid #dfdfdf;
}

.post-card__divider {
  width: 1px;
  height: 32px;
  background: #dfdfdf;
  justify-self: center;
}

.post-card__action {
  border: none;
  background: transparent;
  font-size: 14px;
  color: #2e2e2e;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
  transition: background 0.2s;
}

.post-card__action:hover {
  background: #E9E9E9;
}

.post-card__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.post-card__action--delete {
  color: #d9534f;
  font-weight: 500;
  transition: background 0.2s ease;
}

.post-card__action--delete:hover {
  background: #f8d7da;
}

.post-card__name {
  font-size: 14px;
  font-weight: 600;
  color: #2e2e2e;
  margin: 0;
  line-height: 1;
}

.post-card__date {
  font-size: 13px;
  color: #9e9e9e;
  margin: 0;
  line-height: 1;
}

.post-card__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}


/* font delet and edit style */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 20px;
  vertical-align: middle;
}


/* 
        Delete Confirmation Modal
 */

.delete-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-modal {
  background: #fff;
  padding: 20px 25px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}



/* 
        add-post page
 */
.add-form-box {
  width: 100%;
  max-width: 517px;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-form-label {
  font-size: 15px;
  color: #000;
}

.add-form-input,
.add-form-textarea {
  width: 100%;
  border: 1px solid #bababa;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
  outline: none;
  color: #2e2e2e;
}

.add-form-textarea {
  height: 230px;
  resize: none;
  line-height: 1.5;
}

.add-form-input:focus,
.add-form-textarea:focus {
  border-color: #3cb371;
}

/* remove number arrows */
.add-form-input[type="number"] {
  -moz-appearance: textfield;
}
.add-form-input::-webkit-outer-spin-button,
.add-form-input::-webkit-inner-spin-button {
  display: none;
}

.add-form-btn {
  background: #3cb371;
  color: #fff;
  border: 0;
  padding: 10px 0;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 12px;
}

.add-form-btn:hover {
  background: #35a368;
}



.post-card__action.liked .material-symbols-outlined {
  color: #e74c3c; 
}

.post-card__action.liked {
  color: #e74c3c;
}



